<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AMIMAPER 지도</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_javascript_key }}&libraries=services"></script>
</head>
<body>
  <h2>AMIMAPER 현장 지도</h2>
  <div id="map" style="width:100%; height:90vh;"></div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
